@import "./misc.scss";

@media screen and (max-width: 900px) {
  .page-content {
    padding: 30px;
  }
}

@media screen and (max-width: 700px) {
  .content-wrapper {
    >.content-center {
      >.choices-wrapper {
        >.choice-option {
          @include circleSize($s_choice2 - 20);

          > .choice-option-inner {
            @include circleInnerSize($s_choice2 - 20);
            
            >img {
              @include circleImgSize($s_choice2 - 20);
            }
          }

          
          &:nth-child(1) {
            left: 15%;
          }
          &:nth-child(2) {
            left: 38%;
            bottom: 25%;
          }
          &:nth-child(3) {
            right: 15%;
          }
        }
      }
      >.result-wrapper {
        position: relative;
        >.result-middle {
          position: absolute;
          bottom: 0;
        }
        >.result-choice-wrapper {
      
          >.rc-inner {
            @include circleSize($s_rc2);
            
            >.rc-placeholder {
              @include circleSize($s_rc2 - 40);
            }
    
            >.rc-item {
              @include circleSize($s_rc2);
              >.rc-item-inner {
                @include circleInnerSize($s_rc2);

                >img {
                  @include circleImgSize($s_rc2);
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    justify-content: center;
  }
  
}

@media screen and (max-width: 560px) {

}

@media screen and (max-width: 460px) {
  header {
    height: 120px;  

    .logo {
      >img {
        width: 100px;
      }
    }

    >.score-wrapper {
      width: 90px;
      padding: 5px 15px;
      >.score-content {
        >.score {
          font-size: 3em;
          line-height: 0.8;
        }
      }
    }
  }

  .content-wrapper > .content-center > 
  .choices-wrapper > 
  .choice-option {
    &:nth-child(1) {
      left: 4%;
    }
    &:nth-child(2) {
      left: 34%;
      bottom: 24%;
    }
    &:nth-child(3) {
      right: 4%;
    }
  }
  
}

@media screen and (max-width: 390px) {
  .content-wrapper > .content-center > 
  .choices-wrapper > 
  .choice-option:nth-child(2) {
    left: 31%;
    bottom: 25%;
  }

  .content-wrapper > .content-center > 
  .result-wrapper {
    >.result-middle {
      bottom: 40px;
      >.btn-again {
        font-size: 1.2em;
        height: 50px;
        font-weight: bold;
        margin-top: 20px;
      }
    }
    >.result-choice-wrapper {
      >.rc-label {
        font-size: 0.9em;
      }
      >.rc-inner {
        @include circleSize($s_rc3);
        >.rc-placeholder {
          top: 5px;
        }
        >.rc-item {
          @include circleSize($s_rc3);
          >.rc-item-inner {
            @include circleInnerSize($s_rc3);
            >img {
              @include circleImgSize($s_rc3);
            } 
          }
        }
      }
    }
  }
  
  .rules-wrapper {
    >.rules-modal {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 0;

      >.rules-modal-header {  
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 80px;
        > button {
          position: absolute;
          bottom: 10%;
          left: 48%;
        }
      }
    }
  }
}