
$s_choice: 180px;
$s_choice2: 140px;
$s_choice3: 100px;
$s_rc: 200px;
$s_rc2: 160px;
$s_rc3: 120px;

$c_txt: hsl(229, 25%, 31%);
$c_rock1: hsl(349, 71%, 52%);
$c_rock2: hsl(349, 70%, 56%);
$c_rock_sdw: hsla(349, 71%, 52%, .8);
$c_paper1: hsl(230, 89%, 62%);
$c_paper2: hsl(230, 89%, 65%);
$c_paper_sdw: hsla(230, 89%, 62%, .8);
$c_scissors1: hsl(39, 89%, 49%);
$c_scissors2: hsl(40, 84%, 53%);
$c_scissors_sdw: hsla(39, 89%, 49%, .8);

@mixin rockColors {
  @include choiceColors($c_rock1, $c_rock2, $c_rock_sdw)
}
@mixin paperColors {
  @include choiceColors($c_paper1, $c_paper2, $c_paper_sdw)
}
@mixin scissorsColors {
  @include choiceColors($c_scissors1, $c_scissors2, $c_scissors_sdw)
}

@mixin circleSize($s) {
  width: $s;
  height: $s;
}

@mixin circleInnerSize($s) {
  width: $s - 40;
  height: $s - 40;
}

@mixin circleImgSize($s) {
  width: $s / 3;
  height: $s / 3;
}

@mixin choiceColors ($c1,$c2,$s) {
    background-image: linear-gradient($c1, $c2);
    box-shadow: 0px 6px $s;
  }

@mixin circularShape() {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0;
}

@mixin opacityAnim($dl) {
  opacity: 0;
  animation: opacityKf 1s $dl forwards !important;
}

@keyframes winner {
  0%   {box-shadow: 0 0 0 12px rgba(255,255,255, 0.1)}
  50%  {box-shadow: 0 0 5px 25px rgba(255,255,255, 0.1)}
  100% {box-shadow: 0 0 0 12px rgba(255,255,255, 0.1)}
}

@keyframes opacityKf {
  0% { opacity: 0; }
  100% { opacity: 1; }
}