@keyframes winner {
  0% {
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.1); }
  50% {
    box-shadow: 0 0 5px 25px rgba(255, 255, 255, 0.1); }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.1); } }

@keyframes opacityKf {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
